.image-container {
  width: 600px;
  height: 100vh;
  /* Ajusta la altura según sea necesario */
  display: flex;
  justify-content: start;
  background-image: url('/img/header.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(12deg);
}

.image-container .dark{
  background-image: url('/img/header-dark.png');
}